# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.suo
*.user
*.opensdf
*.sdf

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
ipch/
.vs/
dist/
.externalNativeBuild/
.gradle/
.classpath

# Windows
Thumbs.db

# Apple
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xcworkspace/xcshareddata
profile
*.moved-aside
DerivedData

# Generated Testing Data
storage.json
result.epub

*.iml
.settings/
.project
local.properties
platform/android/lcp/libs/
