
GCC_PREPROCESSOR_DEFINITIONS = CRYPTOPP_DISABLE_ASM=1 CRYPTOPP_DISABLE_SSE2=1 CRYPTOPP_ENABLE_NAMESPACE_WEAK=1
WARNING_CFLAGS = -Wall -Wno-unused -Wno-unknown-pragmas -Wno-shorten-64-to-32 -Wno-conditional-uninitialized -Wno-delete-non-virtual-dtor -Wno-missing-braces -Wno-reorder -Wno-deprecated-register -Wno-tautological-constant-out-of-range-compare -Wno-shift-op-parentheses -Wno-switch -Wno-multiple-move-vbase -Wno-tautological-compare
